<% @airports.each do |airport_hash| %>
<a href="/details?id=<%= airport_hash[:id]%>"><h1><%=airport_hash[:code]%></h1></a>
<% airport = Airport.new %>
<% airport.code = airport_hash[:code]  %>
<p>Temperature: <%= airport.temperature %></p>
<p>Current Wind Status: <%= airport.wind %></p>
<% current_delay = airport.delay %>
<% if current_delay < 15 %>
  <p>ON TIME</p>
  <% elsif current_delay < 30%>
  <p>DELAYED</p>
  <% else%>
  <p>NIGHTMARE</p>
  <% end %>






<% end %>








